html {
  font-size: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  text-align: center;
}
p {
  font-size: 12pt;
  margin: 2pt;
  padding: 0pt;
  font-weight: 600;
  color: #ffffff
}
a {
  color: #5353ec;
  font-weight: 700;
  text-decoration: none;
}
a:hover {
	color: #9eabaf;
}
header ul {
  display: inline;
  width: 100%;
  font-size: 20pt;
  margin: 0;
  padding: 0;
}
header li {
  color: inherit;
  display: inline-block;
  padding: 8px 16px;
}
header {
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: inherit;
  z-index: 10;
  top: 50%;
}
img {
  pointer-events: none;
}
