html {
  font-size: 100%;
  color-scheme: light dark;
}
body {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 800;
}
h1 {
  font-size: 24px;
  line-height: 64px;
  letter-spacing: 0;
}
p {
  margin-top: 0;
}

a {
  color: #5353ec;
}
a:hover {
  color: #5353ec;
}

img {
    pointer-events: none;
}
