html {
  font-size: 100%;
  color-scheme: dark;
}
body {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
p {
  margin-top: 0;
}
a {
  color: #5353ec;
}
a:hover {
  color: #5353ec;
}
img {
  pointer-events: none;
}
